Repository import-js/eslint-plugin-import, pull requests merged in 2020-06, with the labels that each got.

#1776 [no-unused-rules]: Fix docs for unused exports
  CHANGELOG.md
  docs/rules/no-unused-modules.md
Labels: docs

#1689 [New] `import/default`: support default export in TSExportAssignment
  CHANGELOG.md
  package.json
  src/ExportMap.js
  tests/files/typescript-export-as-default-namespace/index.d.ts
  tests/files/typescript-export-as-default-namespace/tsconfig.json
  tests/files/typescript-export-assign-default-namespace/index.d.ts
  tests/files/typescript-export-assign-default-namespace/tsconfig.json
  tests/src/rules/default.js
Labels: typescript

#1802 [no-restricted-path] Custom error message
  CHANGELOG.md
  docs/rules/no-restricted-paths.md
  src/rules/no-restricted-paths.js
  tests/src/rules/no-restricted-paths.js
Labels: enhancement

#1819 [New] `no-unused-modules`: consider exported TypeScript interfaces, types and enums
  CHANGELOG.md
  src/rules/no-unused-modules.js
  tests/files/no-unused-modules/typescript/file-ts-a.ts
  tests/files/no-unused-modules/typescript/file-ts-c.ts
  tests/files/no-unused-modules/typescript/file-ts-d.ts
  tests/files/no-unused-modules/typescript/file-ts-e.ts
  tests/src/rules/no-unused-modules.js
Labels: semver-minor, typescript

#1836 [docs] `no-default-export`: Fix docs url
  CHANGELOG.md
  src/rules/no-default-export.js
Labels: docs

#1835 [docs] `imports-first`: deprecation info and link to `first` docs
  CHANGELOG.md
  docs/rules/imports-first.md
Labels: docs
