Repository import-js/eslint-plugin-import, pull requests merged in 2020-01, with the labels that each got.

#1238 [no-restricted-paths] Allow exceptions to zones
  CHANGELOG.md
  docs/rules/no-restricted-paths.md
  src/rules/no-restricted-paths.js
  tests/files/restricted-paths/server/one/a.js
  tests/files/restricted-paths/server/one/b.js
  tests/files/restricted-paths/server/two/a.js
  tests/src/rules/no-restricted-paths.js
Labels: semver-minor

#1526 [Typescript] Lookup for external modules in @types folder.
  CHANGELOG.md
  config/typescript.js
  tests/src/config/typescript.js
Labels: bug, help wanted, typescript

#1570 [New] `order`: add option pathGroupsExcludedImportTypes to allow ordering of external import types
  CHANGELOG.md
  docs/rules/order.md
  src/rules/order.js
  tests/src/rules/order.js
Labels: semver-minor

#1591 utils: Uses createRequireFromPath to resolve loaders
  tests/files/node_modules/eslint-import-resolver-foo/index.js
  tests/src/core/resolve.js
  tests/src/rules/no-unresolved.js
  utils/CHANGELOG.md
  utils/resolve.js
Labels: utils

#599 utils: [Fix] report the error stack on a resolution error
  tests/files/load-error-resolver.js
  tests/src/core/resolve.js
  utils/CHANGELOG.md
  utils/resolve.js
Labels: utils

#1595 chore: add LICENSE file to all npm packages
  .gitignore
  .travis.yml
  memo-parser/package.json
  package.json
  resolvers/node/.npmrc
  resolvers/node/package.json
  resolvers/webpack/.npmrc
  resolvers/webpack/package.json
  utils/.npmrc
  utils/package.json
Labels: package: memo-parser, package: resolver/node, package: resolver/webpack, package: utils

#1602 Use createRequire instead of createRequireFromPath if available
  utils/CHANGELOG.md
  utils/resolve.js
Labels: package: utils

#1606 Makes the loader resolution more tolerant
  utils/CHANGELOG.md
  utils/resolve.js
Labels: package: utils

#1633 Fix a few spelling mistakes
  README.md
  src/ExportMap.js
  utils/ModuleCache.js
Labels: docs

#1447 fix [import/named] for importing from a module which re-exports named exports from a node_modules module
  tests/files/re-export-node_modules.js
  tests/src/rules/named.js
Labels: bug, help wanted
