Repository import-js/eslint-plugin-import, pull requests merged in 2020-05, with the labels that each got.

#1788 [Docs] `order`: fix bad inline config
  CHANGELOG.md
  docs/rules/order.md
Labels: docs

#1785 [New] `order`: Add support for TypeScript's "import equals"-expressions
  CHANGELOG.md
  package.json
  src/rules/order.js
  tests/src/rules/order.js
Labels: semver-minor, typescript

#1786 Add fix for Windows Subsystem for Linux
  CHANGELOG.md
  appveyor.yml
  utils/resolve.js
Labels: bug, package: utils

#1736 [Tests] `order`: Add TS import type tests
  CHANGELOG.md
  tests/src/rules/order.js
Labels: typescript
