Repository import-js/eslint-plugin-import, pull requests merged in 2021-01, with the labels that each got.

#1962 Add warning about async Webpack configs
  resolvers/webpack/CHANGELOG.md
  resolvers/webpack/README.md
  resolvers/webpack/index.js
  resolvers/webpack/test/.eslintrc
  resolvers/webpack/test/config.js
  resolvers/webpack/test/files/webpack.config.async.js
Labels: package: resolver/webpack

#1846 [New] `no-internal-modules`: Add `forbid` option
  CHANGELOG.md
  docs/rules/no-internal-modules.md
  src/rules/no-internal-modules.js
  tests/src/rules/no-internal-modules.js
Labels: semver-minor

#966 New rule: `no-relative-packages`
  CHANGELOG.md
  docs/rules/no-relative-packages.md
  src/index.js
  src/rules/no-relative-packages.js
  tests/files/package-named/index.js
  tests/files/package-named/package.json
  tests/files/package-scoped/index.js
  tests/files/package-scoped/package.json
  tests/files/package/index.js
  tests/files/package/package.json
  tests/src/rules/no-relative-packages.js
Labels: accepted, rule proposal, semver-minor

#1860 [New]: add `no-relative-packages`
  CHANGELOG.md
  docs/rules/no-relative-packages.md
  src/index.js
  src/rules/no-relative-packages.js
  tests/files/package-named/index.js
  tests/files/package-named/package.json
  tests/files/package-scoped/index.js
  tests/files/package-scoped/package.json
  tests/files/package/index.js
  tests/files/package/package.json
  tests/src/rules/no-relative-packages.js
Labels: accepted, rule proposal, semver-minor

#804 [New] Add `no-import-module-exports` rule
  CHANGELOG.md
  README.md
  docs/rules/no-import-module-exports.md
  package.json
  src/index.js
  src/rules/no-import-module-exports.js
  tests/src/rules/no-import-module-exports.js
Labels: semver-minor
