Repository import-js/eslint-plugin-import, pull requests merged in 2022-08, with the labels that each got.

#2503 [readme] clarify `eslint-import-resolver-typescript` usage
  CHANGELOG.md
  README.md
Labels: docs

#2523 eslint-module-utils: add peer dependency on eslint
  utils/CHANGELOG.md
  utils/package.json
Labels: package: utils

#2395 [New] `order`: add `distinctGroup` option
  CHANGELOG.md
  docs/rules/order.md
  src/rules/order.js
  tests/src/rules/order.js
Labels: semver-minor, import/export ordering

#2424 [Docs] `no-useless-path-segments`: fix paths
  CHANGELOG.md
  docs/rules/no-useless-path-segments.md
Labels: docs
