Repository import-js/eslint-plugin-import, pull requests merged in 2023-08, with the labels that each got.

#2850 [Docs] remove duplicate fixable notices in docs
  CHANGELOG.md
  docs/rules/newline-after-import.md
  docs/rules/no-duplicates.md
  docs/rules/no-namespace.md
  docs/rules/no-relative-packages.md
  docs/rules/order.md
Labels: docs

#2854 [Fix] Revert breaking group change in `order`
  CHANGELOG.md
  src/rules/order.js
  tests/src/rules/order.js
Labels: import/export ordering

#2851 [New] TypeScript config: add .cts and .mts extensions
  CHANGELOG.md
  config/typescript.js
Labels: semver-minor, typescript
