Repository import-js/eslint-plugin-import, pull requests merged in 2024-09, with the labels that each got.

#2993 Make it clear how to install the plugin
  CHANGELOG.md
  README.md
Labels: docs

#3049 [utils] [new] add context compatibility helpers
  utils/CHANGELOG.md
  utils/contextCompat.d.ts
  utils/contextCompat.js
  utils/package.json
  utils/resolve.js
Labels: package: utils

#3043 [New] `import/order`: add support for named imports
  CHANGELOG.md
  docs/rules/order.md
  package.json
  src/rules/order.js
  tests/src/rules/order.js
Labels: enhancement, import/export ordering

#3057 [utils] [fix] `parse`: remove unneeded extra backticks
  utils/CHANGELOG.md
  utils/parse.js
Labels: package: utils

#3065 [Fix] `export`: False positive for exported overloaded functions in TS
  CHANGELOG.md
  src/rules/export.js
  tests/src/rules/export.js
Labels: typescript

#3070 [Docs] `no-cycle`: add `disableScc` to docs
  CHANGELOG.md
  docs/rules/no-cycle.md
Labels: docs

#3073 [Docs] `no-restricted-paths`: fix grammar
  CHANGELOG.md
  docs/rules/no-restricted-paths.md
Labels: docs
